<h1>About Me</h1>

<ul class='info'>
  <li>I am well versed in the Ruby Programming Language</li>
  <li>I am an experienced Rails developer with several apps published on Github</li>
  <li>I am a self-motivated person who can also work well in a development team</li>
</ul>

<h2>To learn more, don't hesitate to contact me:</h2>

<ul class='contact info'>
  <li>email : <a href="mailto:tyler.potle@gmail.com">tyler.pottle@gmail.com</a></li>
  <li>twitter : <a href="https://twitter.com/TylerPottle">@TylerPottle</a></li>
  <li>Github : <a href='http://www.github.com/Tybosis'>Tybosis</a></li>
</ul>
